${organization_name} Password Reset

You have requested a password reset for your ${organization_name} account.

Please click the link below to reset your password:

{{reset_link}}

If you did not request this password reset, please ignore this email.

Best regards,
The ${organization_name} Team
